@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Da 2', cursive;
}

/* HEADER SECTION */

header{
    width: 100%;
    height: 3.5vh;
    background-color: #7098b8;
    display: grid;
    /* grid-template-columns: repeat(5,1fr); */
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

#time{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5vh;
}

#name{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5vh;
}

/* Section */

section::after{
    position: absolute;
    width: 100%;
    height: 85vh;
    content: "";
    z-index: -2;
    background: url("background.jpg") no-repeat center center/cover;;
    opacity: 0.9;
}

section{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    height: 60vh;
    width: 30%;
    background-color: #e9a96294;
    border-radius: 15px;
    margin: 5%;
    margin-top: 2%;
}

#card1 h5{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    border-bottom: 5px solid blanchedalmond;
} 

#card1 span{
    display: block;
    text-align: center;
    margin-top: 2vh;
    padding: 2px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 3.5vh;
}



#card2 h5{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    border-bottom: 5px solid blanchedalmond;
} 

#outer{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card2 span{
    display: block;
    text-align: center;
    padding: 2px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 3.5vh;
}

#matrix{
    background-color: #944b5f8a;
    display: grid;
    padding: 5px;
    height: 55%;
    width: 50%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 5px;
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 3.5vh;
    border-radius: 15px;
    margin-top: 15px;
}

#outer div span{
    border: 2px solid #2f2115;
    border-radius: 15px;
    background-color: #b5c5d4;
    transition: 0.3s linear;
}

#outer div span:hover{
    cursor: pointer;
    box-shadow: 2px 3px #b5c5d4;
}

#button{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.but{
    width: 20%;
    height: 50%;
    background-color: #b5c5d4;
    padding: 2px;
    border-radius: 15px;
    border: 2px solid #2f2115;
    color: black;
    font-weight: bold;
    transition: 0.3s linear;
    font-size: 2vh;
}

.but:hover{
    cursor: pointer;
    box-shadow: 2px 3px #b5c5d4;
}

/* Footer */

footer{
    bottom: 0px;
    position: fixed;
    height: 11vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.social{
    height: 4vh;
    width: 4vh;
    margin: 1vh 1vh -1vh 1vh;
    border-radius: 10px;
    transition: 0.5s linear;
}

footer span{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 2vh;
    margin-bottom: 1vh;
}

footer::before{
    position: absolute;
    width: 100%;
    height: 12vh;
    content: "";
    z-index: -1;
    background-color: #e57966;
    opacity: 0.9;
}

.social:hover{
    box-shadow: 5px 5px 10px #000000;
}

footer span:hover{
    cursor: context-menu;
}